*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}

.navbar{
    background-color: white;
}
.navbar-toggler{
    background-color: rgb(235, 232, 232);
}
.navbar-toggler1{
    width:46px ;
    border: none;
    border-radius: 5px;
}
.cart{
    position: relative;
}
.cart ul li:nth-child(2){
    font-size: 10px !important;
}
.cart span{
    position: absolute;
    font-size: 8px;
    margin-top: 20px;
    height: 15px;
    width: 15px;
    margin-right: 10px;
}
.heading{
    height: 700px;
    background-image: url("module-2.jpg");
    
}
.navbar-brand{
    font-size: 22px;
color: black;
font-weight: 500;
}

.nav-link{
    color: black;
    font-size: 12px;
    font-weight: 400;
    }
    .dropdown-item{
        font-size: 12px;
    }
    .cart ul li{
        font-size: 30px;
        list-style: none;
        color: black;
         }
    .canvas img{
        margin-top: 50px;
    }
    .canvas p{
        color:#788487;
        font-size: 13px;
    }
    .social-icons li {
        list-style: none;
        padding-left: 13px;
             
    }
    .social-icons li i{
        color: #fff;
        font-size: 15px;
        margin-right: 10px;
    }
    .social-icons li:hover i{
        color: #788487;
    }
.container{
    position: relative;
    z-index: 1;
}
.overlay121{
    background: #333;
    position: absolute;
    height: 700px;
    width: 100%;
    left: 0;
}
    .inner_1 h1{
        margin-top: 100px;
        font-size: 70px;
        font-weight: 600;
        letter-spacing: 1;
        line-height: 1.3;
        color: #fff;
    }

    .inner_1 p{
        font-size: 18px;
        /* font-weight: 600; */
        letter-spacing: 1;
        color: #fff;
    }

    button.start{
        background: #5a5af3;
        color: #fff;
        border: 2px solid #5a5af3;
        margin-right: 10px;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.5px;
        border-radius: 50px;
        height: 42px;
        width: 180px;
        height: 60px;
        text-transform: uppercase;
    }
    button.start:hover{
        background: #7272f5;
        border-color: #7272f5;
      
    }
    button.quote{
        background:transparent;
        color:#fff;
        border: 2px solid #fff;
        margin-right: 10px;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0.5px;
        border-radius: 50px;
        height: 42px;
        width: 180px;
        height: 60px;
        text-transform: uppercase;

    }
    button.quote:hover{
        background: #fff;
        border-color: #fff;
        color: black;
    }
    @media screen and (min-width:320px) and (max-width:480px) {
        .heading img{
            /* width: 100px; */
            background-size: cover !important;
        }  
        .inner_1 h1{
        font-size: 30px;
        
        }      
    }
    .main{
        /* background-color: #f0f0f0a3; */
        padding: 70px;
        border-bottom: 1px solid #f0f0f0;
    }
    .inner_2 h1{
        font-weight: 500;
        line-height: 2;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        color: #222;
        margin-top: 80px;
    }
    .inner_2 p{
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1;
        color: #788487;
    }
    .box{
        position: relative;
        overflow: hidden;
        width: 100%;
    }

     .icon{
        font-size: 40px;
        color: #007bff;
        line-height: 2;
        transition: all.3s;
    }
    .box:hover .icon{
        transform: translateY(-10px);
    }
    .box h4{
        font-size: 15px;
        color:black;
        line-height: 2;
    }

    .box p{
        font-size: 15px;
        color: #788487;
    }
    .icon-box-link a{
        color: #505cfd;
        text-decoration: none;
        background-color: transparent;
    }

    .nav-tabs .nav-link{
        text-align: center;
    list-style: none;
    margin: 0 0 15px;
    padding: 0;
    font-size: 15px;
    }

    .nav-tabs .nav-link {
        display: inline-block;
        margin: 0 12px 20px 0;
    }
    .nav-tabs .nav-link.active{
        opacity: 1;
    }
.nav-tabs .nav-link{
            opacity: .6;
            color: #788487;
        
    }
    .nav-tabs .nav-link{
        color: #788487;
        text-decoration: none;
        font-family: "Playfair Display";
    font-style: italic;
    }
    .list_1 a:hover{
        color: #061418;

    }

    .paging{
        position: relative;
        overflow: hidden;
        width: 100%;
    }
.picture{
    height: 100%;
    transition: all 0.3s;
}
.picture img{
        height:100%;
        width:100%;
    
}
.paging:hover .picture{
    transform: translateY(-100px);

}

.view{
    height:0%;
    position: absolute;
    width: 100%;
    text-align: center;
transition:height 0.3s;
    bottom:0;
}
.paging:hover .view{
    height: 20%;
}
.view h5{
    font-size: 15px;
    color: black;
        text-decoration: none;
}
.view p{
color: #788487;
font-family: "Playfair Display";
    font-style: italic;
}
.webpage{
    background-color: #f8f8f8;
}
.model h3{
    margin-left: 15%;
    margin-top: 100px;
    
}
.model_p{
    color: #788487;
font-size: 17px;
margin-left: 15%;
}
.model p{
    color: #788487;
font-size: 17px;
/* margin-left: 15%; */

}
.model h4{
    /* margin-left: 15%; */
    margin-top: 20px;
}
.icon33{
    margin-left: 15%;
    margin-top: 6px;
}

.mody{
    position: relative;
    overflow: hidden;
    width: 100%;
}

 .icon33{
    font-size: 40px;
    color: #007bff;
    line-height: 2;
    transition: all.3s;
}
.mody:hover .icon33{
    transform: translateY(-10px);
}


.creative_h1 h1{
    font-size: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;

}
.creative_h1 p{
    color: #788487;
    font-size: 17px;   
}



.team-item {
    position: relative;
    border-radius: 0.1875rem;
    box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
    margin: 0 0 30px;
    transition: all .4s;
}
.team-item img {
    border-radius: 0.1875rem;
    width: 100%;
    
}
.team-item{
    transition: all.3s;
}
.overlay:hover .team-item{
    transform: translateY(-10px);
}
.overlay{
        background-color: rgba(34, 34, 34, .6);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        /* right: 0; */
        position: absolute;
        overflow: hidden;
        transition:all 1s;
        opacity: 0;
        }

.team-item:hover .overlay{
opacity: 1;

}
.info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;

}
.name h6{
    color: #fff;
}

.name p{
    color:#788487;
}
.tap{
    height: 60px;
    width: 150px;
    font-size: 18px;
    border: #515dfd 2px solid;
    /* align-items: center; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.tap:hover{
    color: #fff;
    background-color: #515dfd;
}
.creative{
    padding: 60px 0px;
}
.team-item:hover .team-image{
    transform: translateY(-10px);

}
.team-item:hover .overlay{
    transform: translateY(-10px);

}
/* ..........closed....... */
.coro{
    background-image: url("module-12.jpg");
    padding: 60px 0px;
    

    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 90%;
    color: #fff;
    text-align: center;
}

.carousel-item img{
    width: 80px;
    border: 6px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
    margin-top: 70px;
    


}
.overlay-background {
    background: #333;
    position: absolute;
    height: 600px;
    width: 100vw;
    left: 0;
    top: 0;
    margin-top: -61px;
    margin-left: -134px;
    }
.review p{
    font-size: 20px;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .overlay-background {
        width: 142vw;
    }

}

.shadow11 {
    position: relative;
    background: #fff;
    border: 1px solid #f0f0f0;
    text-align: center;
    padding: 0 50px;
    margin: 0 0 30px;
    margin-top: -60px;
    transition: .3s ease-in-out;
}
.shadow11:hover{
    transform: scale(1.1);
}

.wrapper{
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 30px 0;
}
.wrapper_icon{
    line-height: 1;
    font-size: 2.5rem;
    color: #222;
    margin: 0 0 20px;
}
.wrapper_tag{
    font-size: 10px;
}
.price{
    position: relative;
    display: inline-block;
    padding: 10px 0;
    font-weight: 600;
    font-size: 4rem;
}
.price span{
    position: absolute;
    display: block;
    left: -15px;
    top: 28px;
    font-size: 1.125rem;
}
.loaded{
    height: 50px;
    width: 150px;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: .1125rem;
    font-size: .75rem;
    color: #fff;
    background-color: #505cfd;
    border-color: #505cfd;
}
.carousel-indicators{
    /* width: 30px;
    border-radius: 50%;
    margin-top: 50px; */

    position: relative;
    border: 1px solid transparent;
    border-radius: 100%;
    display: inline-block;
    padding: 4px;
    margin: 0 4px;
    transition: all .3s ease-in-out;
}
.carousel-indicators .dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    /* border-color: #505cfd !important; */

}
.shadow{
    background-color: #f8f8f8;
}
.carousel-item img {
    width: 121px;
    border: 6px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
    margin-top: 70px;
}
/* ........... ARETICLES CLOSED............ */


.inner55{
    margin-top: 100PX;
}
.inner55 h1{
    font-size: 45px;
    font-weight: 400;
    color: #222;
}
.inner55 p{
    font-size: 15px;
    color: #788487;
}

.blue img{
    transition: all .3s;

}
.blue:hover img{
transform: translateY(-10px);
}
.Speaker h4{
    margin-top: 20px;
    font-size: 18px;
    color: black;

}
.Speaker h4:hover{
    color: #505cfd;
}
.Speaker p{
    margin-top: 20px;
    font-size: 15px;
    color: #788487;
}
.module{
    background-color: #f8f8f8;
margin-top: 100px;
}
/* ........closed......... */



.zone{
    background-color: #f8f8f8;

}
.graph{
    margin-top: 50px;

}
.graph .lead{
    font-size: 30px;
    color: #5591fb;
}
.graph h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.graph p{
    color: #788487;

}
.graph1{
    margin-left: 300px;
}
@media screen and (min-width:320px) and (max-width:480px) {

.graph1{
    margin-left: 0px;

}

}
.footer{
    background-color: #222;
}
.foot{
    margin-top: 50px;
}
.foot h6{
    color: #fff;
    font-size: 13px;
}
.foot p{
    color: #788487;
}
.foot .spn {
    color: #788487;
}
.foot li a{
    list-style: none;
    text-decoration: none;
    color: #cecece;   
}
.foot li:hover a{
    color: #fff;
}
hr{
    background-color: #788487;
    margin: 0px;
}





















